@model ProjectSW.Models.Employee

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<div class="div-content">
    <h2 style="font-size: 30px;"><b>Eliminar</b></h2>
    <h3>Tem a certeza que pretende eliminar esta ficha?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AditionalInformation)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AditionalInformation)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Account.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Account.Email)
            </dd>
        </dl>

        <form asp-action="Delete" class="form-delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Eliminar" class="button-format" /> |
            <a asp-action="Index" class="return-link"><button class="button-format">Voltar</button></a>
        </form>
    </div>

</div>