@model IEnumerable<ProjectSW.Models.AnimalMonitoringReport>


@{
    ViewData["Title"] = "Relatórios";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<div class="div-content">
    <h2 style="font-size: 30px;"><b>Lista de Relatórios</b></h2>
    <p>
        <a asp-action="Create" class="title-link" style="font-size: 20px;"><button class="button-format"><span>Criar Novo Relatório </span></button></a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EntryDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EntryDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>