@model ProjectSW.Models.ExitForm

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
    Animal Animal = ViewBag.Animal;

    string base64 = null;
    string imgSrc = null;
    if (Animal.Foto != null)
    {
        base64 = Convert.ToBase64String(Animal.Foto);
        imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    }
}

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    $(function () {
        $('[data-toggle="popover"]').popover({
            container: 'body'
        })
    })

    $('.popover-dismiss').popover({
        trigger: 'focus'
    })
</script>

<div class="div-content">
    <h2 style="font-size: 30px;"><b>Criar Ficha de Saída</b></h2>
    <hr />
    <div>
        <div class="row">
            <div class="col-md-4">
                <div style="margin-left: 25%; margin-top: 5%; margin-bottom: 5%;">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Animal.Name)
                        </dt>
                        <dd>
                            @Animal.Name
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Animal.Gender)
                        </dt>
                        <dd>
                            @Animal.Gender
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Animal.Size)
                        </dt>
                        <dd>
                            @Animal.Size
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Animal.Breed)
                        </dt>
                        <dd>
                            @ViewBag.BreedName
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Animal.Foto)
                        </dt>
                        <dd>
                            <img src="@imgSrc" height="100px" width="100px" alt="Sem foto disponivel" />
                        </dd>
                    </dl>
                </div>
                <form asp-action="Create" class="form-create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="AnimalId" class="form-control" value="@ViewBag.Animal.Id" type="hidden" />
                    </div>
                    <div class="form-group">
                        <label asp-for="AdopterName" class="control-label"></label>
                        <button style="background-color:#164C48; width:3em; float:right;" type="button" class="btn btn-outline-info form-control" data-toggle="popover" data-trigger="focus" title="Email" data-content="Aqui irá inserir o nome do adotante.">
                            <img style=" width:100%" src="~/images/info_popup.png" alt="info">
                        </button>
                        <input asp-for="AdopterName" class="form-control" />
                        <span asp-validation-for="AdopterName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AdopterAddress" class="control-label"></label>
                        <button style="background-color:#164C48; width:3em; float:right;" type="button" class="btn btn-outline-info form-control" data-toggle="popover" data-trigger="focus" title="Email" data-content="Aqui irá inserir a data de criação da ficha.">
                            <img style=" width:100%" src="~/images/info_popup.png" alt="info">
                        </button>
                        <input asp-for="AdopterAddress" class="form-control" />
                        <span asp-validation-for="AdopterAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AdopterEmail">Email*</label>
                        <button style="background-color:#164C48; width:3em; float:right;" type="button" class="btn btn-outline-info form-control" data-toggle="popover" data-trigger="focus" title="Email" data-content="Aqui irá inserir o seu email não institucional.">
                            <img style="width:100%" src="~/images/info_popup.png" alt="info">
                        </button>
                        <input asp-for="AdopterEmail" class="form-control" id="Registar-email" placeholder="ex: victor.miguel@hotmail.com" />
                        <span asp-validation-for="AdopterEmail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <button style="background-color:#164C48; width:3em; float:right;" type="button" class="btn btn-outline-info form-control" data-toggle="popover" data-trigger="focus" title="Email" data-content="Aqui irá inserir a descrição da ficha de saída.">
                            <img style=" width:100%" src="~/images/info_popup.png" alt="info">
                        </button>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Motive" class="control-label"></label>
                        <button style="background-color:#164C48; width:3em; float:right;" type="button" class="btn btn-outline-info form-control" data-toggle="popover" data-trigger="focus" title="Email" data-content="Aqui irá inserir o motivo da adoção.">
                            <img style=" width:100%" src="~/images/info_popup.png" alt="info">
                        </button>
                        <textarea asp-for="Motive" class="form-control"></textarea>
                        <span asp-validation-for="Motive" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Criar" class="button-format" style="margin-left:0%" />
                    </div>
                </form>
            </div>
                </div>

        <div>
            <a asp-action="Index"><button class="button-format" style="margin-left:31.5%"><span>Voltar</span></button></a>
        </div>
    </div>
</div>
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
