@model IEnumerable<ProjectSW.Models.Animal>

@{
    ViewData["Title"] = "Animais";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<div class="div-content">
    <h2 style="font-size: 30px;"><b>Lista de Animais</b></h2>
    <button class="accordion button-format" style="height:50%"><span>Filtrar Lista</span></button>
        <form asp-controller="Animals" asp-action="Listar" method="post" style="width:40%; padding-left:2%; margin-left:0%">
            <label style="color:white">Nome:</label> <input type="text" name="filtroNome" class="form-control" style="width:80%;">
            <label style="color:white">Raça:</label> <input type="text" name="filtroRaca" class="form-control" style="width:80%;">
            <label style="color:white">Genero:</label> <input type="text" name="filtroGenero" class="form-control" style="width:80%;" >
            <label style="color:white">Tamanho:</label> <input type="text" name="filtroTamanho" class="form-control" style="width:80%;">
            <input type="submit" value="Filtrar" class="button-format" />
        </form>
        <hr>
        <a asp-action="Create" class="title-link" style="font-size: 20px;"><button class="button-format"><span>Criar Nova Ficha</span></button></a>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-action="OrderByNome">
                        @Html.DisplayNameFor(model => model.Name)
                    </a>
                </th>
                <th>
                    <a asp-action="OrderByRaca">
                        @Html.DisplayNameFor(model => model.Breed)
                    </a>
                </th>
                <th>
                    <a asp-action="OrderByGenero">
                        @Html.DisplayNameFor(model => model.Gender)
                    </a>
                </th>
                <th>
                    <a asp-action="OrderByTamanho">
                        @Html.DisplayNameFor(model => model.Size)
                    </a>
                </th>
                <th>
                    <a asp-action="Index">
                        @Html.DisplayNameFor(model => model.Foto)
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                string base64 = null;
                string imgSrc = null;
                if (item.Foto != null)
                {
                    base64 = Convert.ToBase64String(item.Foto);
                    imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Breed.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Size)
                    </td>
                    <td>
                        <img src="@imgSrc" height="100px" width="100px" alt="Sem foto disponivel" />
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="edit-link">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="details-link">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="delete-link">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>

var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    /* Toggle between adding and removing the "active" class,
    to highlight the button that controls the panel */
    this.classList.toggle("active");

    /* Toggle between hiding and showing the active panel */
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
   });
  } 
    </script>
