@model IEnumerable<ProjectSW.Models.Animal>

@{
    ViewData["Title"] = "Animais";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<div class="div-content">
    <h2 style="font-size: 30px;"><b>Lista de Animais</b></h2>
    <p>
        <a asp-action="Create" class="title-link" style="font-size: 20px;"><button class="button-format"><span>Criar nova Ficha </span></button></a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Size)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Race)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EntryDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Foto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Attachment)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                string base64 = null;
                string imgSrc = null;
                if (item.Foto != null)
                {
                    base64 = Convert.ToBase64String(item.Foto);
                    imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }


                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Size)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Race)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EntryDate)
                    </td>
                    <td>
                        <img src="@imgSrc" height="100px" width="100px" alt="Sem foto disponivel" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FileName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>

</script>
