@model IEnumerable<ProjectSW.Models.Animal>


<div class="div-content">
    <h2 style="font-size: 30px;"><b>Lista de Animais</b></h2>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EntryDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Foto)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                string base64 = null;
                string imgSrc = null;
                if (item.Foto != null)
                {
                    base64 = Convert.ToBase64String(item.Foto);
                    imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EntryDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <img src="@imgSrc" height="100px" width="100px" alt="Sem foto disponivel" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


